* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Thin */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

/* ExtraLight */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Extralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-ExtralightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

/* ExtraBold */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Extrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-ExtraboldItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  padding: 1rem;
  font-size: 1rem;
  font-family: "Supreme", sans-serif;
  background-color: rgb(224, 224, 224);
}

main {
  background-color: white;
  border-radius: 1rem;
  padding: 1.5rem;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 100;

    .logo {
      img {
        height: 100%;
        width: 4.5rem;
        object-fit: cover;
        object-position: center;
      }
    }

    .links {
      display: none;
    }

    .nav-right {
      display: flex;
      align-items: center;
      height: 100%;
      //background-color: rgb(142, 218, 130);
      gap: 0.5rem;

      .btn {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
        background-color: rgba(244, 244, 141, 0.888);
        border-radius: 0.25rem;
        padding: 0.5rem 1rem;
        height: 100%;
      }

      .ham-menu {
        display: flex;
        i {
          font-size: 1.2rem;
          background-color: rgba(245, 245, 245, 0.811);
          border-radius: 0.25rem;
          padding: 0.5rem 0.8rem;
          height: 100%;
        }
      }
    }
  }

  .sec-1 {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 32px;
    .hero-txt {
      h1 {
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 48px;
        text-align: center;
      }
      h3 {
        font-size: 18px;
        font-weight: 200;
        text-align: center;
      }
    }

    .hero-img {
      background-color: aquamarine;
      height: 220px;
      border-radius: 0.5rem;
      overflow: hidden !important;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .svgs {
    margin-top: 1rem;
    background-color: white;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;

    img {
        width: 3rem;
        object-fit: contain;
        object-position: center;
    }
  }
}
