* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Thin */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

/* ExtraLight */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Extralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-ExtralightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

/* ExtraBold */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Extrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-ExtraboldItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  padding: 1rem;
  font-size: 1rem;
  font-family: "Supreme", sans-serif;
  background-color: rgb(224, 224, 224);
}

main {
  background-color: white;
  border-radius: 1rem;
  padding: 1.5rem;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 100;

    .logo {
      img {
        height: 100%;
        width: 4.5rem;
        object-fit: cover;
        object-position: center;
      }
    }

    .links {
      display: none;
    }

    .nav-right {
      display: flex;
      align-items: center;
      height: 100%;
      //background-color: rgb(142, 218, 130);
      gap: 0.5rem;

      .btn {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
        background-color: rgba(244, 244, 141, 0.888);
        border-radius: 0.25rem;
        padding: 0.5rem 1rem;
        height: 100%;
      }

      .ham-menu {
        display: flex;
        i {
          font-size: 1.2rem;
          background-color: rgba(245, 245, 245, 0.811);
          border-radius: 0.25rem;
          padding: 0.5rem 0.8rem;
          height: 100%;
        }
      }
    }
  }

  .sec-1 {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 32px;
    .hero-txt {
      h1 {
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 48px;
        text-align: center;
      }
      h3 {
        font-size: 18px;
        font-weight: 200;
        text-align: center;
      }
    }

    .hero-img {
      background-color: aquamarine;
      height: 220px;
      border-radius: 0.5rem;
      overflow: hidden !important;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .svgs {
    margin-top: 1rem;
    background-color: white;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;

    img {
      width: 3rem;
      object-fit: contain;
      object-position: center;
    }
  }

  .sec-3 {
    //background-color: lightcyan;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 32px;

    .left {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h5 {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
      }

      h1 {
        font-size: 40px;
        font-weight: 400;
        line-height: 44px;
      }

      p {
        font-size: 16px;
        font-weight: 200;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .card {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: whitesmoke;
        border-radius: 0.5rem;

        img {
          width: 60px;
          margin-bottom: 2.5rem;
        }

        h1 {
          font-size: 1.5rem;
          font-weight: 400;
          text-transform: uppercase;
        }

        p {
          font-size: 18px;
          font-weight: 200;
        }
      }

      button {
        border-radius: 6px;
        border: none;
        padding: 1rem;
        background-color: rgb(252, 252, 63);
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }

  .sec-4 {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    .top {
      h5 {
        text-transform: uppercase;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .img-card {
        height: 260px;
        //background-color: lightgreen;
        border-radius: 0.5rem;
        position: relative;
        overflow: hidden;

        .overlay {
          padding: 2rem;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h1 {
            font-size: 3rem;
            font-weight: 400;
            text-transform: uppercase;
            color: white;
          }

          p {
            background-color: #fff;
            font-size: 12px;
            font-weight: 500;
            padding: 0.25rem 0.5rem;
            width: fit-content;
            text-transform: uppercase;
            border-radius: 5px;
          }
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      button {
        padding: 14px;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 8px;
        background-color: rgb(255, 255, 107);
        border: none;
      }
    }
  }

  .sec-5 {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .top {
      h4 {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h1 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 38px;
      }

      .text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 18px;
        font-weight: 200;
      }
    }
  }

  .sec-6 {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .top {
      h4 {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .award {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.181);
        gap: 8px;

        h3 {
          font-size: 20px;
          font-weight: 400;
        }

        h4 {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }

  .sec-7 {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .top {
      display: flex;
      flex-direction: column-reverse;
      gap: 8px;

      h4 {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
      }
      h3 {
        font-weight: 400;
        font-size: 2rem;
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .left {
        background-color: bisque;
        border-radius: 0.5rem;
        height: 250px;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .card {
          border-radius: 0.5rem;
          padding: 2rem;
          background-color: whitesmoke;

          img {
            width: 50px;
            margin-bottom: 2rem;
          }

          h4 {
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 8px;
          }

          p {
            font-size: 18px;
            font-weight: 200;
            line-height: 29px;
          }
        }

        .card-y {
          background-color: rgb(250, 250, 127);
          padding: 2rem;
          border-radius: 0.5rem;

          h4 {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 1rem;
            text-transform: uppercase;
          }

          h3 {
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 2rem;
          }

          button {
            padding: 1rem;
            font-size: 14px;
            text-transform: uppercase;
            width: 100%;
            border-radius: 5px;
            border: none;
            background-color: black;
            color: white;
          }
        }
      }
    }
  }

  .sec-8 {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .left {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .img-div {
        height: 400px;
        border-radius: 0.5rem;
        //background-color: aquamarine;
        overflow: hidden;
        position: relative;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }

        .overlay {
          padding: 2rem;
          color: white;
          position: absolute;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          h4 {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
          }

          h3 {
            font-size: 40px;
            font-weight: 400;
            line-height: 44px;
          }
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .card {
        background-color: whitesmoke;
        padding: 2rem;
        border-radius: 0.5rem;

        h1 {
          i {
            font-size: 3rem;
            margin-bottom: 1rem;
          }
        }

        h3 {
          font-size: 24px;
          font-weight: 400;
          line-height: 29px;
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 18px;
          font-weight: 200;
          line-height: 29px;
        }
      }
    }
  }

  .sec-9 {
    background-color: rgb(252, 252, 109);
    border-radius: 0.5rem;
    padding: 2rem;
    margin-top: 4rem;

    img {
      width: 60px;
      margin-bottom: 3rem;
    }

    h4 {
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 3rem;
      font-weight: 400;
      line-height: 48px;
      margin-bottom: 2rem;
    }

    button {
      width: 100%;
      border: none;
      border-radius: 0.5rem;
      background-color: black;
      padding: 1rem;
      color: white;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  .sec-10 {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .left {
      .txt {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h1 {
          font-weight: 400;
          font-size: 3rem;
          text-align: center;
        }
        p {
          text-align: center;
          font-size: 16px;
          font-weight: 200;
          line-height: 25.5px;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .card {
        display: flex;
        flex-direction: column;

        div {
          height: 210px;
          border-radius: 0.5rem;
          position: relative;
          overflow: hidden;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            margin-bottom: 1rem;
          }

          h4 {
            padding: 4px 8px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            width: fit-content;
            background-color: whitesmoke;
            position: absolute;
            bottom: 1.5rem;
            right: 1.5rem;
          }
        }

        h3 {
          margin-top: 1rem;
          text-transform: uppercase;
          font-size: 1rem;
          font-weight: 500;
          line-height: 22.4px;
          margin-bottom: 8px;
        }

        p {
          font-size: 1rem;
          line-height: 25px;
          font-weight: 200;
        }
      }
    }
  }
}

footer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 6rem;
  }

  .socials {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    h4 {
      border-radius: 5px;
      font-size: 12px;
      padding: 5px 10px;
      background-color: #fff;
      text-transform: uppercase;
    }
  }

  h1 {
    margin-top: 3rem;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6rem;
  }

  .page-links {
    margin-top: 2rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    h2 {
      font-size: 20px;
      font-weight: 400;
    }

    h4 {
      font-size: 14px;
      font-size: 300;
      color: rgb(109, 107, 107);
    }
  }
}

@media (min-width: 768px) {
  body {
    background-color: lightgreen;
  }
}

@media (min-width: 1024px) {
  body {
    background-color: rgb(6, 206, 206);
  }
}

@media (min-width: 1440px) {
  body {
    background-color: rosybrown;
    padding: 3rem;

    main {
      padding: 3rem 4rem;

      nav {
        .links {
          display: flex;
          gap: 2rem;

          h3 {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            text-transform: uppercase;
          }
        }
      }

      .sec-1 {
        margin-top: 6rem;
        gap: 3rem;

        .hero-txt {
          display: flex;
          align-items: end;

          h1 {
            font-size: 80px;
            line-height: 100%;
            text-align: start;
          }

          h3 {
            font-size: 1.5rem;
            text-align: start;

          }
        }

        .hero-img {
          height: 600px;
        }

      }
    }
  }
}
