* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Thin */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}
/* ExtraLight */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Extralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-ExtralightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}
/* Light */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
/* Regular */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
/* Medium */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
/* Bold */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
/* ExtraBold */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Extrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-ExtraboldItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  padding: 1rem;
  font-size: 1rem;
  font-family: "Supreme", sans-serif;
  background-color: rgb(224, 224, 224);
}

main {
  background-color: white;
  border-radius: 1rem;
  padding: 1.5rem;
}
main nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 100;
}
main nav .logo img {
  height: 100%;
  width: 4.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main nav .links {
  display: none;
}
main nav .nav-right {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
}
main nav .nav-right .btn {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  background-color: rgba(244, 244, 141, 0.888);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  height: 100%;
}
main nav .nav-right .ham-menu {
  display: flex;
}
main nav .nav-right .ham-menu i {
  font-size: 1.2rem;
  background-color: rgba(245, 245, 245, 0.811);
  border-radius: 0.25rem;
  padding: 0.5rem 0.8rem;
  height: 100%;
}
main .sec-1 {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
main .sec-1 .hero-txt h1 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 48px;
  text-align: center;
}
main .sec-1 .hero-txt h3 {
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}
main .sec-1 .hero-img {
  background-color: aquamarine;
  height: 220px;
  border-radius: 0.5rem;
  overflow: hidden !important;
}
main .sec-1 .hero-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main .svgs {
  margin-top: 1rem;
  background-color: white;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
main .svgs img {
  width: 3rem;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
main .sec-3 {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
main .sec-3 .left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main .sec-3 .left h5 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
main .sec-3 .left h1 {
  font-size: 40px;
  font-weight: 400;
  line-height: 44px;
}
main .sec-3 .left p {
  font-size: 16px;
  font-weight: 200;
}
main .sec-3 .right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .sec-3 .right .card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: whitesmoke;
  border-radius: 0.5rem;
}
main .sec-3 .right .card img {
  width: 60px;
  margin-bottom: 2.5rem;
}
main .sec-3 .right .card h1 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}
main .sec-3 .right .card p {
  font-size: 18px;
  font-weight: 200;
}
main .sec-3 .right button {
  border-radius: 6px;
  border: none;
  padding: 1rem;
  background-color: rgb(252, 252, 63);
  font-size: 14px;
  text-transform: uppercase;
}
main .sec-4 {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
main .sec-4 .top h5 {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
main .sec-4 .bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .sec-4 .bottom .img-card {
  height: 260px;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}
main .sec-4 .bottom .img-card .overlay {
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .sec-4 .bottom .img-card .overlay h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}
main .sec-4 .bottom .img-card .overlay p {
  background-color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  border-radius: 5px;
}
main .sec-4 .bottom .img-card img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main .sec-4 .bottom button {
  padding: 14px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: rgb(255, 255, 107);
  border: none;
}
main .sec-5 {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .sec-5 .top h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
main .sec-5 .bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .sec-5 .bottom h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 38px;
}
main .sec-5 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 18px;
  font-weight: 200;
}
main .sec-6 {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main .sec-6 .top h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
main .sec-6 .bottom {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .sec-6 .bottom .award {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.181);
  gap: 8px;
}
main .sec-6 .bottom .award h3 {
  font-size: 20px;
  font-weight: 400;
}
main .sec-6 .bottom .award h4 {
  font-size: 14px;
  font-weight: 500;
}
main .sec-7 {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main .sec-7 .top {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
}
main .sec-7 .top h4 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
main .sec-7 .top h3 {
  font-weight: 400;
  font-size: 2rem;
}
main .sec-7 .bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .sec-7 .bottom .left {
  background-color: bisque;
  border-radius: 0.5rem;
  height: 250px;
  overflow: hidden;
}
main .sec-7 .bottom .left img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main .sec-7 .bottom .right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .sec-7 .bottom .right .card {
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: whitesmoke;
}
main .sec-7 .bottom .right .card img {
  width: 50px;
  margin-bottom: 2rem;
}
main .sec-7 .bottom .right .card h4 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 8px;
}
main .sec-7 .bottom .right .card p {
  font-size: 18px;
  font-weight: 200;
  line-height: 29px;
}
main .sec-7 .bottom .right .card-y {
  background-color: rgb(250, 250, 127);
  padding: 2rem;
  border-radius: 0.5rem;
}
main .sec-7 .bottom .right .card-y h4 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
main .sec-7 .bottom .right .card-y h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
main .sec-7 .bottom .right .card-y button {
  padding: 1rem;
  font-size: 14px;
  text-transform: uppercase;
  width: 100%;
  border-radius: 5px;
  background-color: black;
  color: white;
}
main .sec-8 {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .sec-8 .left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main .sec-8 .left .img-div {
  height: 400px;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}
main .sec-8 .left .img-div img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main .sec-8 .left .img-div .overlay {
  padding: 2rem;
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main .sec-8 .left .img-div .overlay h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
main .sec-8 .left .img-div .overlay h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 44px;
}
main .sec-8 .right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .sec-8 .right .card {
  background-color: whitesmoke;
  padding: 2rem;
  border-radius: 0.5rem;
}
main .sec-8 .right .card h1 i {
  font-size: 3rem;
  margin-bottom: 1rem;
}
main .sec-8 .right .card h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 0.5rem;
}
main .sec-8 .right .card p {
  font-size: 18px;
  font-weight: 200;
  line-height: 29px;
}
main .sec-9 {
  background-color: rgb(252, 252, 109);
  border-radius: 0.5rem;
  padding: 2rem;
  margin-top: 4rem;
}
main .sec-9 img {
  width: 60px;
  margin-bottom: 3rem;
}
main .sec-9 h4 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
main .sec-9 h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 2rem;
}
main .sec-9 button {
  width: 100%;
  border-radius: 0.5rem;
  background-color: black;
  padding: 1rem;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */